<h1>All Expenses</h1>

<div>
    <% if @expenses&.any? %>
        <ul>
            <% @expenses.each do |expense| %>
                <li>
                    <%= link_to expense.name, expense_path(expense) %> - <%= number_to_currency(expense.amount) %>
                    |
                    <%= link_to "Edit", edit_expense_path(expense) %>
                    |
                    <%= link_to "Delete", expense_path(expense), method: :delete, data: { confirm: "Are you sure?" } %>
                </li>
            <% end %>
        </ul>
    <% else %> 
        <p>You currently don't have any expenses!</p>
    <% end %>
</div>

<%= link_to "New Expense", new_expense_path %>
