<!DOCTYPE html>
<html>
  <head>
    <title>Finance Tracker – Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body  style="font-family: 'Poppins', sans-serif;">
    <%= yield %>
  </body>
</html>
